#connection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  margin: auto;
  text-align: center;
}

.forgotPass {
  color: black;
  text-decoration: underline;
}
