.modal1 {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.modal-wrapper {
  overflow: auto;
  width: 600px;
  height: 700px;
  max-width: calc(100vw - 20px);
  max-height: calc(100vh - 20px);
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: space-between;
}
.xmark {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.modal-wrapper h1 {
  color: #000;
  font-family: "Work Sans";
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  position: absolute;
  margin-top: 22px;
}
.galleryPicture {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 13px 10px;
  overflow: scroll;
}
.modal-wrapper button {
  border-radius: 60px;
  border: 1px solid #1d6154;
  font-family: "Syne";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  height: 37px;
  width: 237px;
  padding: 9px 15px;
  background-color: #1d6154;
  margin-top: 335px;
}
